<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title%></title>
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  <script src="/js/ejs.min.js"></script>
  <link href="/style.css" type="text/css" rel="stylesheet" media="screen" />
  <link href="/dist/tailwindout.css" rel="stylesheet">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <!--~ Cities ~-->
  <% if(typeof city !== 'undefined' && city !== null) { %>
  <meta name="description" content="<%=city%>'deki güncel nöbetçi eczanelerin listesi ve iletişim bilgileri. Hangi eczane bugün nöbetçi? Adres ve telefon bilgileriyle hızlıca ulaşın.">
  <meta name="author" content="Türkiye Nöbetçi Eczaneleri">
  <link rel="canonical" href="https://www.turkiyenobetcieczane.com/nobetcieczane/<%=city%>">
  <meta name="publisher" content="Türkiye Nöbetçi Eczaneleri">
  <!-- Open Graph Meta Tags for Social Media -->
  <meta property="og:title" content="<%=city%> Nöbetçi Eczaneler - Bugün Açık Olan Eczaneler">
  <meta property="og:description" content="<%=city%>'deki güncel nöbetçi eczanelerin listesi ve iletişim bilgileri. Hangi eczane bugün nöbetçi? Adres ve telefon bilgileriyle hızlıca ulaşın.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.turkiyenobetcieczane.com/nobetcieczane/<%=city%>">
  <meta property="og:image" content="https://www.turkiyenobetcieczane.com/path/to/image.jpg">
  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%=city%> Nöbetçi Eczaneler - Bugün Açık Olan Eczaneler">
  <meta name="twitter:description" content="<%=city%>'deki güncel nöbetçi eczanelerin listesi ve iletişim bilgileri. Hangi eczane bugün nöbetçi? Adres ve telefon bilgileriyle hızlıca ulaşın.">
  <meta name="twitter:image" content="https://www.turkiyenobetcieczane.com/path/to/image.jpg">
  <% } else {%>
  <meta name="description" content="Türkiye genelindeki güncel nöbetçi eczanelerin listesi ve iletişim bilgileri. Bugün hangi eczane nöbetçi? Adres ve telefon bilgileriyle hızlıca ulaşın.">
  <meta name="author" content="Türkiye Nöbetçi Eczaneleri">
  <link rel="canonical" href="https://www.turkiyenobetcieczane.com/">
  <!-- Open Graph Meta Tags for Social Media -->
  <meta property="og:title" content="Türkiye Nöbetçi Eczaneler - Bugün Açık Olan Eczaneler">
  <meta property="og:description" content="Türkiye genelindeki güncel nöbetçi eczanelerin listesi ve iletişim bilgileri. Bugün hangi eczane nöbetçi? Adres ve telefon bilgileriyle hızlıca ulaşın.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.turkiyenobetcieczane.com/">
  <meta property="og:image" content="https://www.turkiyenobetcieczane.com/path/to/image.jpg">
  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Türkiye Nöbetçi Eczaneler - Bugün Açık Olan Eczaneler">
  <meta name="twitter:description" content="Türkiye genelindeki güncel nöbetçi eczanelerin listesi ve iletişim bilgileri. Bugün hangi eczane nöbetçi? Adres ve telefon bilgileriyle hızlıca ulaşın.">
  <meta name="twitter:image" content="https://www.turkiyenobetcieczane.com/path/to/image.jpg">
  <% } %>
  <!--~ Cities End ~-->
  <!-- Additional SEO Best Practices -->
  <meta name="robots" content="index, follow">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PHYB82PEB2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-PHYB82PEB2');
  </script>
  <meta name="google-adsense-account" content="ca-pub-2741206778256261">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2741206778256261"
     crossorigin="anonymous"></script>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K3C6Q3BQ');</script>
  <!-- End Google Tag Manager -->
</head>