<!-- Hero -->
<div class="relative">
  <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-10 sm:py-15">
    <div class="text-center">
      <h1 class="text-4xl sm:text-6xl font-bold text-red-600 dark:text-red-600">
        Nöbetçi Eczane
      </h1>

      <h2 class="mt-3 text-gray-600 dark:text-neutral-400">
        Sağlığınız İçin Hep Yanınızdayız - Nöbetçi Eczaneler 7/24 Hizmetinizde
      </h2>

      <div class="mt-7 sm:mt-12 mx-auto max-w-xl relative">
   
        <form action='/pharmacy/show/' method="post" class="flex-col justify-center items-center w-full gap-y-4">

          <div class="grid sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-3 gap-3 sm:gap-6">

            <select id="districtsCity" name="districtsCity" class="relative dark:text-white z-10 flex gap-x-3 p-3 bg-white border rounded-lg shadow-lg shadow-gray-100 dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-gray-900/20" onchange="onChangeCity(event)" required>
              <option value="" disabled selected>İl Seç</option>
              <% cities.forEach(city => { %>
              <option value="<%= city %>" <%= (typeof selectedCity !== 'undefined' && selectedCity.toLocaleLowerCase('tr-TR')==city.toLocaleLowerCase('tr-TR')) ? 'selected' : '' %>>
                <%= city[0].toLocaleUpperCase('tr-TR') + city.slice(1).toLocaleLowerCase('tr-TR') %>
              </option>
              <% }); %>
            </select>
            <select id="districtsDistrict" name="districtsDistrict" class="relative dark:text-white z-10 flex gap-x-3 p-3 bg-white border rounded-lg shadow-lg shadow-gray-100 dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-gray-900/20">
              <option value="" disabled selected>İlçe Seç</option>
              <% if(typeof selectableDistricts !== 'undefined' && selectableDistricts && selectableDistricts.length > 0) { %>
              <% selectableDistricts.forEach(district => { %>
              <option value="<%= district %>">
                <%= district[0].toLocaleUpperCase('tr-TR') + district.slice(1).toLocaleLowerCase('tr-TR') %>
              </option>
              <% }); %>
              <% } %>
            </select>
            <button type="submit" id="search" class="bg-blue-500 text-white font-bold py-2 px-4 rounded-lg">
              Bul
            </button>
          </div>
        </form>
        <!-- SVG Element -->
        <div class="hidden md:block absolute top-0 end-0 -translate-y-12 translate-x-20">
          <svg class="w-16 h-auto text-orange-500" width="121" height="135" viewBox="0 0 121 135" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 16.4754C11.7688 27.4499 21.2452 57.3224 5 89.0164" stroke="currentColor" stroke-width="10" stroke-linecap="round" />
            <path d="M33.6761 112.104C44.6984 98.1239 74.2618 57.6776 83.4821 5" stroke="currentColor" stroke-width="10" stroke-linecap="round" />
            <path d="M50.5525 130C68.2064 127.495 110.731 117.541 116 78.0874" stroke="currentColor" stroke-width="10" stroke-linecap="round" />
          </svg>
        </div>
        <!-- End SVG Element -->

        <!-- SVG Element -->
        <div class="hidden md:block absolute bottom-0 start-0 translate-y-10 -translate-x-32">
          <svg class="w-40 h-auto text-cyan-500" width="347" height="188" viewBox="0 0 347 188" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 82.4591C54.7956 92.8751 30.9771 162.782 68.2065 181.385C112.642 203.59 127.943 78.57 122.161 25.5053C120.504 2.2376 93.4028 -8.11128 89.7468 25.5053C85.8633 61.2125 130.186 199.678 180.982 146.248L214.898 107.02C224.322 95.4118 242.9 79.2851 258.6 107.02C274.299 134.754 299.315 125.589 309.861 117.539L343 93.4426" stroke="currentColor" stroke-width="7" stroke-linecap="round" />
          </svg>
        </div>
        <!-- End SVG Element -->
      </div>
      <div class="w-full mt-5 justify-center items-center">
        <a class="m-1 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg font-semibold text-[#06b6d4] border-2 border-[#06b6d4] bg-white shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" title="Size En Yakın Nöbetçi Eczaneler" href="/enyakinnobetcieczane">
          <svg width="24px" height="24px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path fill="#06b6d4" d="M800 416a288 288 0 1 0-576 0c0 118.144 94.528 272.128 288 456.576C705.472 688.128 800 534.144 800 416zM512 960C277.312 746.688 160 565.312 160 416a352 352 0 0 1 704 0c0 149.312-117.312 330.688-352 544z"/><path fill="#06b6d4" d="M512 448a64 64 0 1 0 0-128 64 64 0 0 0 0 128zm0 64a128 128 0 1 1 0-256 128 128 0 0 1 0 256zm345.6 192L960 960H672v-64H352v64H64l102.4-256h691.2zm-68.928 0H235.328l-76.8 192h706.944l-76.8-192z"/></svg>
         
         Size En Yakın Nöbetçi Eczaneler
        </a>
      </div>
      <div class="max-sm:grid max-sm:grid-cols-3 mt-5 sm:mt-5">
        <a title="İstanbul Nöbetçi Eczaneleri" class="m-1 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" href="/nobetcieczane/istanbul">
          <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <rect width="20" height="14" x="2" y="7" rx="2" ry="2" />
            <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16" />
          </svg>
          İstanbul
        </a>
        <a title="Ankara Nöbetçi Eczaneleri" class="m-1 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" href="/nobetcieczane/ankara">
          <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z" />
            <circle cx="12" cy="12" r="3" />
          </svg>
          Ankara
        </a>
        <a title="İzmir Nöbetçi Eczaneleri" class="m-1 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" href="/nobetcieczane/izmir">
          <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z" />
          </svg>
          İzmir
        </a>
        <a title="Bursa Nöbetçi Eczaneleri" class="m-1 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" href="/nobetcieczane/bursa">
          <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M15 14c.2-1 .7-1.7 1.5-2.5 1-.9 1.5-2.2 1.5-3.5A6 6 0 0 0 6 8c0 1 .2 2.2 1.5 3.5.7.7 1.3 1.5 1.5 2.5" />
            <path d="M9 18h6" />
            <path d="M10 22h4" />
          </svg>
          Bursa
        </a>
        <a title="Antalya Nöbetçi Eczaneleri" class="m-1 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" href="/nobetcieczane/antalya">
          <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M6 22V4a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v18Z" />
            <path d="M6 12H4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h2" />
            <path d="M18 9h2a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2h-2" />
            <path d="M10 6h4" />
            <path d="M10 10h4" />
            <path d="M10 14h4" />
            <path d="M10 18h4" />
          </svg>
          Antalya
        </a>
        <a title="Adana Nöbetçi Eczaneleri" class="m-1 py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700" href="/nobetcieczane/adana">
          <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M17.8 19.2 16 11l3.5-3.5C21 6 21.5 4 21 3c-1-.5-3 0-4.5 1.5L13 8 4.8 6.2c-.5-.1-.9.1-1.1.5l-.3.5c-.2.5-.1 1 .3 1.3L9 12l-2 3H4l-1 1 3 2 2 3 1-1v-3l3-2 3.5 5.3c.3.4.8.5 1.3.3l.5-.2c.4-.3.6-.7.5-1.2z" />
          </svg>
          Adana
        </a>
       
      </div>
    </div>
  </div>
</div>
<!-- End Hero -->



<div class="text-xl self-center mb-2 font-bold dark:text-gray-200">
  81 İlde <%=allDutyPharmaciesCount%> Nöbetçi Eczane
</div>

<%- include('components/citiesShow', { cities, pharmacyByCities }); %>

<script>
  function onChangeCity(event) {
    const selectedCity = document.getElementById('districtsCity').value;

    window.location.href = `/onSelectCity/${selectedCity}`;
  }
</script>

<div class="container mx-auto px-4 py-8">
  <h1 class="text-4xl font-bold text-center text-gray-800 mb-8">Nöbetçi Eczane Rehberi: 7/24 Acil İlaç İhtiyaçlarınız İçin Yanınızda</h1>
  
  <section class="mb-8">
      <h2 class="text-2xl font-semibold text-gray-700 mb-4">Nöbetçi Eczane Nedir?</h2>
      <p class="text-gray-600 leading-relaxed">
          Nöbetçi eczane, haftanın belirli günlerinde ve özellikle hafta sonları veya resmi tatillerde, standart eczane çalışma saatlerinin dışında hizmet veren eczanelerdir. Bu eczaneler, hastaların acil ilaç ihtiyaçlarını karşılamak amacıyla 7/24 hizmet sunar. Gecenin bir yarısı ya da tatil günlerinde ihtiyaç duyduğunuzda en yakın nöbetçi eczaneyi bulmak hayati öneme sahiptir.
      </p>
  </section>

  <section class="mb-8">
      <h2 class="text-2xl font-semibold text-gray-700 mb-4">Nöbetçi Eczanelerin Önemi</h2>
      <p class="text-gray-600 leading-relaxed">
          Nöbetçi eczaneler, özellikle acil durumlarda ilaçlara erişimi sağlamak adına büyük bir hizmet sunar. Örneğin, gece aniden ortaya çıkan bir rahatsızlıkta, doktorun yazdığı reçeteyi hemen temin etmek gerekebilir. Nöbetçi eczaneler, bu gibi durumlarda hızlı bir çözüm sunarak sağlık sorunlarını hafifletir.
      </p>
  </section>

  <section class="mb-8">
      <h2 class="text-2xl font-semibold text-gray-700 mb-4">En Yakın Nöbetçi Eczane Nasıl Bulunur?</h2>
      <p class="text-gray-600 leading-relaxed">
          Günümüzde teknoloji sayesinde nöbetçi eczane bulmak çok daha kolay hale gelmiştir. Web sitemiz, bulunduğunuz konuma en yakın nöbetçi eczaneleri hızlı bir şekilde listelemenizi sağlar. Sitemiz üzerinden şehrinizdeki veya ilçenizdeki tüm nöbetçi eczanelerin güncel listesini görüntüleyebilir, harita üzerinde konumlarını inceleyebilir ve yol tarifi alabilirsiniz.
      </p>
  </section>

  <section class="mb-8">
      <h2 class="text-2xl font-semibold text-gray-700 mb-4">Nöbetçi Eczane Aramalarında Dikkat Edilmesi Gerekenler</h2>
      <ul class="list-disc pl-5 text-gray-600 leading-relaxed">
          <li class="mb-2">
              <strong>Konum Bilgisi:</strong> Bulunduğunuz konuma en yakın eczaneyi bulmak için konumunuzu doğru bir şekilde belirtin. Bu sayede en hızlı şekilde nöbetçi eczaneye ulaşabilirsiniz.
          </li>
          <li class="mb-2">
              <strong>Güncel Liste:</strong> Nöbetçi eczane listelerinin sürekli güncellenmesi önemlidir. Sitemiz, bu konuda en güncel bilgiyi sunarak, yanlış bir eczaneye gitmenizi engeller.
          </li>
          <li class="mb-2">
              <strong>İletişim Bilgileri:</strong> Eczaneye gitmeden önce telefonla arayarak, aradığınız ilacın mevcut olup olmadığını kontrol edebilirsiniz. Sitemizde her nöbetçi eczanenin iletişim bilgilerini bulabilirsiniz.
          </li>
      </ul>
  </section>

  <section class="mb-8">
      <h2 class="text-2xl font-semibold text-gray-700 mb-4">Nöbetçi Eczane Bulma Rehberi</h2>
      <p class="text-gray-600 leading-relaxed">
          Sitemiz, kullanıcı dostu arayüzü ile ihtiyacınız olan nöbetçi eczaneyi saniyeler içinde bulmanızı sağlar. Şehrinizin adını girin ve en yakın nöbetçi eczanelerin listesini anında görün. Her bir eczanenin çalışma saatleri, adresi ve iletişim bilgileri detaylı olarak sunulmaktadır.
      </p>
      <p class="text-gray-600 leading-relaxed">
          <strong>Nöbetçi Eczane Nasıl Seçilir?</strong>
      </p>
      <ul class="list-disc pl-5 text-gray-600 leading-relaxed">
          <li class="mb-2"><strong>Yakınlık:</strong> Özellikle acil durumlarda en yakın eczaneye ulaşmak önemlidir.</li>
          <li class="mb-2"><strong>İlaç Çeşitliliği:</strong> Nöbetçi eczanelerde genellikle yaygın ilaçlar bulunur, ancak özel ilaçlar için mutlaka arayıp teyit almakta fayda var.</li>
          <li class="mb-2"><strong>Çalışma Saatleri:</strong> Her nöbetçi eczanenin nöbet saatleri farklılık gösterebilir, bu nedenle belirtilen saatlere dikkat edin.</li>
      </ul>
  </section>

  <section class="mb-8">
      <h2 class="text-2xl font-semibold text-gray-700 mb-4">Sağlık İçin Nöbetçi Eczane Rehberi</h2>
      <p class="text-gray-600 leading-relaxed">
          Sağlığınız, en değerli varlığınızdır. Acil durumlarda ilaç ihtiyacınızı karşılamak, hastalığın ilerlemesini engellemek için hayati öneme sahiptir. Nöbetçi eczaneler, bu ihtiyacı karşılamak için gece gündüz hizmet verir. Web sitemiz, size bu konuda en doğru bilgiyi sunarak, sağlığınıza katkıda bulunmayı hedefler.
      </p>
  </section>

  <section>
      <h2 class="text-2xl font-semibold text-gray-700 mb-4">Sonuç</h2>
      <p class="text-gray-600 leading-relaxed">
          Nöbetçi eczaneler, sağlık sistemimizin vazgeçilmez bir parçasıdır. Acil bir durumla karşılaştığınızda, sitemiz üzerinden en güncel nöbetçi eczane bilgilerine kolayca ulaşabilirsiniz. Bu sayede, ihtiyaç duyduğunuzda en kısa sürede doğru eczaneye ulaşarak, gerekli ilaçları temin edebilirsiniz.
      </p>
  </section>
</div>