<% if(typeof pharmacy !== 'undefined' && pharmacy) { %>
<div class="w-full overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-900 flex flex-col">

  <div class="flex justify-between items-center gap-4 px-4 py-3 bg-gray-100 dark:bg-gray-800 eczanetitle">
    <h1 class="text-xl text-white font-semibold"><%= pharmacy.name %> (<%= pharmacy.district %>)</h1>
    <%- include('../../components/pharmacyDistance', {pharmacy: pharmacy}) %>
  </div>

  <div class="flex flex-col gap-4 p-4">
    <%- include('../../components/pharmacyDirections', {pharmacy: pharmacy}) %>
    <%- include('../../components/pharmacyAddress', {pharmacy: pharmacy}) %>
    <%- include('../../components/pharmacyPhone', {pharmacy: pharmacy}) %>

    <div class="flex items-center text-gray-700 dark:text-gray-200">
      <%- include('../../components/pharmacyGoogleMapLink', {pharmacy: pharmacy}) %>
      <%- include('../../components/pharmacyYandexMapLink', {pharmacy: pharmacy}) %>
      <%- include('../../components/pharmacyAppleMapLink', {pharmacy: pharmacy}) %>
    </div>

    <div class="flex flex-col items-center justify-center gap-4">
      <h3 class="text-lg font-semibold dark:text-white text-center">Haritada Gör</h3>
      <%- include('../../components/pharmacyGoogleMap', {pharmacy: pharmacy}) %>
    </div>
  </div>
</div>
<% } else { %>
<div class="w-full h-full flex items-center justify-center">
  <h3 class="text-2xl font-semibold text-gray-700 dark:text-gray-200">Eczane bulunamadı.</h3>
</div>
<% } %>

<% if(typeof pharmacy !== 'undefined' && pharmacy) { %>
<% pharmacySlug=pharmacy.name.replace(/ /g, '-' ).toLowerCase() %>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebPage",
    "name": "TurkiyeNobetcieczane.com - <%= pharmacy.name %> (<%= pharmacy.city %>/<%= pharmacy.district %>)",
    "url": "https://www.turkiyenobetcieczane.com/eczaneler/<%= pharmacySlug %>-<%= pharmacy.id %>",
    "description": "<%= pharmacy.name %> (<%= pharmacy.city %>/<%= pharmacy.district %>) adresi, telefon numarası ve harita üzerinde konumu. Türkiye'nin en güncel ve en doğru nöbetçi eczane bilgilerine ulaşabileceğiniz platform.",
    "publisher": {
      "@type": "Organization",
      "name": "Türkiye Nöbetçi Eczane",
      "url": "https://www.turkiyenobetcieczane.com"
    },
    "mainEntity": {
      "@type": "WebPage",
      "@id": "https://www.turkiyenobetcieczane.com/eczaneler/<%= pharmacySlug %>-<%= pharmacy.id %>",
      "potentialAction": {
        "@type": "Action",
        "target": "https://www.turkiyenobetcieczane.com/eczaneler/<%= pharmacySlug %>-<%= pharmacy.id %>",
        "name": "<%= pharmacy.name %> (<%= pharmacy.city %>/<%= pharmacy.district %>)"
      }
    }
  }
</script>
<% } %>