<script>
  function onChangeCity(event) {
    const selectedCity = event.target.value;

    window.location.href = `/sitene-ekle-iframe?city=${selectedCity}`;
  }

  function onChangeDistrict(event) {
    const selectedCity = document.getElementById('districtsCity').value;
    const selectedDistrict = event.target.value;

    window.location.href = `/sitene-ekle-iframe?city=${selectedCity}&district=${selectedDistrict}`;
  }
</script>

<div class="w-full px-2 py-3 bg-red-700 flex text-white text-center rounded-md">
  <svg version="1.1" viewBox="0 0 2000 1986" width="48" height="48" xmlns="http://www.w3.org/2000/svg">
    <path transform="translate(1306,281)" d="m0 0h265v310h-752v225h691v292h-689v287h766v321l-1 1h-1205l-1-1v-1432l182-1z" fill="#FFFFFF" />
    <path transform="translate(27)" d="m0 0h1946l10 3 8 6 6 8 3 8v1936l-5 12-8 8-9 4-4 1h-1948l-11-4-9-8-4-8-2-8v-1930l3-10 6-9 8-6zm5 31-1 1v1922l1 1h1937v-1924z" fill="#FFFFFF" />
  </svg>
  <h1 class="text-l px-5 py-3 font-bold"><%=selectedCity%> <%=selectedDistrict%> Nöbetçi Eczaneler</h1>

</div>

<div class="container flex flex-col items-center justify-center mt-2" style="gap: 0.5rem;">
  <select id="districtsCity" name="districtsCity" class="w-full relative dark:text-white z-10 flex gap-x-3 p-3 bg-white border rounded-lg shadow-lg shadow-gray-100 dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-gray-900/20" onchange="onChangeCity(event)" required>
    <option value="" disabled selected>İl Seç</option>
    <% cities.forEach(city => { %>
    <option value="<%= city %>" <%= (typeof selectedCity !== 'undefined' && selectedCity.toLocaleLowerCase('tr-TR')==city.toLocaleLowerCase('tr-TR')) ? 'selected' : '' %>>
      <%= city[0].toLocaleUpperCase('tr-TR') + city.slice(1).toLocaleLowerCase('tr-TR') %>
    </option>
    <% }); %>
  </select>
  <select id="districtsDistrict" name="districtsDistrict" class="w-full relative dark:text-white z-10 flex gap-x-3 p-3 bg-white border rounded-lg shadow-lg shadow-gray-100 dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-gray-900/20" onchange="onChangeDistrict(event)" required>
    <option value="" disabled selected>İlçe Seç</option>
    <% if(typeof selectableDistricts !== 'undefined' && selectableDistricts && selectableDistricts.length > 0) { %>
    <% selectableDistricts.forEach(district => { %>
    <option value="<%= district %>" <%= (typeof selectedDistrict !== 'undefined' && selectedDistrict.toLocaleLowerCase('tr-TR')==district.toLocaleLowerCase('tr-TR')) ? 'selected' : '' %>>
      <%= district[0].toLocaleUpperCase('tr-TR') + district.slice(1).toLocaleLowerCase('tr-TR') %>
    </option>
    <% }); %>
    <% } %>
  </select>
</div>

<div class="pharmacy-container" style="margin-top: 0.5rem;">
  <% if(typeof pharmacies !== 'undefined' && pharmacies.length > 0) { %>
  <% pharmacies.forEach((pharmacy) => { %>
  <%- include('../../components/pharmacyCard', {pharmacy: pharmacy}) %>
  <% }) %>
  <% } else { %>
  <div class=" container">
    <div class="row">
      <div class="col-md-12">
        <h4>No pharmacies found</h4>
      </div>
    </div>
  </div>
  <% } %>
</div>